<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>This is the heading</h1>
  <p>Wow this service is cool. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum obcaecati quisquam tempore nobis molestias quam ea laudantium ipsam nemo eius.</p>

  <a href="http://localhost:3000/streams/<%= @stream.id %>">Click here to Join the Stream</a>
</body>
</html>