<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.message %></td>
      <td><%= post.url %></td>
    </tr>
  <% end %>
</table>