<div class="container">
  <div class="starter-template">
    <i class="fa fa-heart-o fa-4x" style=" vertical-align: middle;"></i>
    <h1>linklove.us</h1>
    <p class="lead">Share your favourite content with your closest friends. Welcome to linklove, the world's simplest social network.</p>
  </div>
</div>