<div class="container-home">
  <div class="marketing">
    <div class="starter-template">
      <div id="linklovelogo">
        <i class="fa fa-heart" style=" vertical-align: middle;"></i>
        <h1>LinkLove</h1>
      </div>
      <p class="lead">Share your favourite content with your closest friends. Welcome to LinkLove, the world's simplest social network.</p>
      <%= link_to 'Get started!', new_user_registration_path, :class => 'btn btn-primary btn-lg' %>
    </div>
  </div>

  <div class="starter-template home top">
    <div class="share-buttons">
      <a class="btn btn-default" href="javascript:window.location='http://www.linklove.us/streamify/?url='+encodeURIComponent(window.location)"><i class="fa fa-star fa-lg"></i> LinkLove It! Drag this button<br /> to your browser bar.</a>
      <a class="btn btn-default" href="https://chrome.google.com/webstore/detail/linklove/alclhgkpliaiijfojipclgncajifcjpg"><i class="fa fa-google-plus-square fa-lg"></i> Install the<br />Google Chrome extension.</a>
    </div>
    <img src="/assets/placeit.png" alt="Generic placeholder image">
    <p class="lead">We make it easy to share. Use the Bookmarlet or Google Chrome extension for one-click publishing.</p>

  </div>

  <div class="row home marketing">
    <div class="home col-lg-4">
      <i class="fa fa-star fa-lg hp-icons"></i>
      <h2>Get started.</h2>
      <p>LinkLove makes it easy to share your favourite content with your closest friends. Just sign up for an account and send an invitation to someone you love to trade links with.</p>
    </div><!-- /.col-lg-4 -->
    <div class="home col-lg-4">
      <i class="fa fa-share-square-o fa-lg hp-icons"></i>
      <h2>Simple sharing. </h2>
      <p>Use our Bookmarklet or Google Chrome Extension for one-click publishing to your streams. Never lose a link again, just hit the button in your browser!</p>
    </div><!-- /.col-lg-4 -->
    <div class="home col-lg-4">
      <i class="fa fa-comments fa-lg hp-icons"></i>
      <h2>Stylish streams.</h2>
      <p>Invite your closest friends and share your favourite links every day. Update your status, upload cover photos and see which of you is posting the most.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->

  <div class="starter-template home top">
    <p class="lead">Share your favourite content with your closest friends. Welcome to linklove, the world's simplest social network.</p>
    <img src="/assets/placeit_2.png" alt="Generic placeholder image">
  </div>

  <div class="starter-template home bottom">
    <p class="lead"><i class="fa fa-twitter fa-lg"></i> Follow us on Twitter.</p>
  </div>
</div>