<h2>This is where the Public-Stream will appear!</h2>

<div class="col-md-5 nice-stuff">
  <p>what the hell</p>
</div>

<div class="col-md-offset-1 col-md-5 cloud-thingy">
  <p>thisiscrazy</p>
</div>

<!-- each loop!!! -->
  <div class="col-md-3">
    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatum?</p>
  </div>

  <div class="col-md-3">
    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatum?</p>
  </div>

  <div class="col-md-3">
    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatum?</p>
  </div>
  <div class="col-md-3">
    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatum?</p>
  </div>
    <div class="col-md-3">
    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatum?</p>
  </div>
  <div class="col-md-3">
    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, voluptatum?</p>
  </div>