<h2>This is where the Public-Stream will appear!</h2>

<div class="col-md-5 nice-stuff">
  <p>what the hell</p>
</div>

<div class="col-md-offset-1 col-md-5 cloud-thingy">
  <p>thisiscrazy</p>
</div>

<!-- each loop!!! -->
<div class="row">
  <div class="col-md-3 public">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas maxime quod vel voluptates deleniti asperiores culpa itaque assumenda exercitationem ullam.</p>
  </div>
  <div class="col-md-3 public">
    <p>Saepe, libero, nesciunt, repellendus fugit beatae ratione sed iure aliquam aperiam quisquam at blanditiis inventore mollitia pariatur tempora minus voluptatem.</p>
  </div>
  <div class="col-md-3 public">
    <p>Culpa, reprehenderit fuga nemo inventore odit recusandae maiores. Architecto, perspiciatis corporis molestiae quisquam non fugit iste perferendis aut eius sed!</p>
  </div>
  <div class="col-md-3 public">
    <p>Suscipit, quaerat, itaque nihil obcaecati non vel maxime eius facilis nostrum libero ipsum assumenda! Possimus, minus deserunt fuga ut modi!</p>
  </div>

  <div class="col-md-3 public">
    <p>Eius, vitae, inventore ullam laborum aut suscipit incidunt temporibus molestias non minus nihil quo expedita doloremque quae amet id quaerat!</p>
  </div>
  <div class="col-md-3 public">
    <p>Omnis, similique asperiores labore a distinctio natus placeat incidunt nulla animi ratione sed eos culpa aliquam illo consectetur corporis sint?</p>
  </div>
  <div class="col-md-3 public">
    <p>Repellendus, vitae pariatur ipsam soluta voluptatem. Odit, fugiat, quod doloremque nihil recusandae adipisci possimus sapiente ratione libero ducimus delectus fuga.</p>
  </div>
  <div class="col-md-3 public">
    <p>Quas, quos, magni, fuga aut quibusdam doloremque inventore ipsam exercitationem accusantium facilis veritatis eius officiis laboriosam dolorem architecto amet rem.</p>
  </div>

  <div class="col-md-3 public">
    <p>Veritatis, id, asperiores quo dolorem qui eligendi dolore voluptates? Itaque, sed libero ullam qui aperiam aliquid quas tempore numquam asperiores.</p>
  </div>
  <div class="col-md-3 public">
    <p>Voluptatibus, perferendis, rem at assumenda alias sint voluptates ex placeat deserunt aut incidunt dolores suscipit doloribus aperiam voluptate ea animi.</p>
  </div>
  <div class="col-md-3 public">
    <p>Veritatis, id, asperiores quo dolorem qui eligendi dolore voluptates? Itaque, sed libero ullam qui aperiam aliquid quas tempore numquam asperiores.</p>
  </div>
  <div class="col-md-3 public">
    <p>Voluptatibus, perferendis, rem at assumenda alias sint voluptates ex placeat deserunt aut incidunt dolores suscipit doloribus aperiam voluptate ea animi.</p>
  </div>
