$heading_font: Roboto Slab, serif;
$body_font:    Roboto, sans-serif;
$logo_font:    nexa_boldregular;
$nav_color:    #2c3e50;
$red_color:    #ac5353;
$yellow_color: #FEEC6A;
$blue_color:   #2D89D1;
$white_color:  #F7F7F7;
$pink_color:   #e29090;

.starter-template {
  background-color: $yellow_color;
  // height:400px;
  // width:400px;
  // position:relative;
}

#linklovelogo {
  position: relative;
  width: 500px;
  height: 300px;
  margin: auto;
  // border: 1px solid lime;
}

#linklovelogo * {
  position: absolute;
  left: 50%;
}

#linklovelogo i {
  margin-left: -100px;
  color: $red_color;
  font-size: 200px;
  top: 50px;
  text-shadow: 2px 2px $nav_color;
  -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: silver;
}

#linklovelogo h1 {
  margin-left: -125px;
  font-family: $logo_font;
  color: $blue_color;
  font-size: 60px;
  top: 80px;
  text-shadow: 2px 2px $nav_color;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $nav_color;
}

/*=====================================
    Stream Show
=====================================*/
div.cover-photo {
  display: block;
  width: 100%;
}

.cover-photo img {
  border-radius: 20px;
  margin: auto;
}

.profile-photo img {
  border-radius: 50%;
  margin-top: 20px;
/*  height: 250px;
  width: 250px;*/
}

div.user1 {
  display: inline-block;
  text-align: right;
  margin-left: 100px;
  height: 300px;
}

div.user2 {
  display: inline-block;
  float: right;
  margin-right: 100px;
  height: 300px;
}

ol {
  margin-top: 20px;
  padding-left: 0px;
}

div.post-in-stream {
  margin-top: 15px;
  background-color: $white_color;
  border-radius: 15px;
  border: 2px solid $yellow_color;
}
div.post-in-stream li {
  display: block;
}
div.post-info {
  display: inline-block;
}

li.post-links {
  display: inline-block;
  padding-top: 16px;
  padding-right: 20px;
}
div.creator-links {
  float: right;
}
li.post-links a {
  float: right
}

div.post-info h3 {
  margin-bottom: 10px;
}

li.tags {
  padding-bottom: 20px;
}

li.message {
  padding-top: 1px;
  padding-bottom: 10px;
  font-weight: bold;
}

div.stream-header {
  background-color: $yellow_color;
  list-style: none;
}
div.posts-background {
  background-color: $yellow_color;
}

.avi {
  height: 250px;
  width: 250px;
  border: 5px solid $white_color;
  margin-top: 20px;
  /*background-size: cover-x;*/
  background-position: center;
  border-radius: 50%;
}

div.progress-container {
  background-color: $yellow_color;
  width: 500px;
  margin: auto;
}

div.progress.progress-striped {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

div.percentages {
  width: 100px;
  height: 100px;
  background-color: $blue_color;
  text-align: center;
  border-radius: 50%;
  position: relative;
  top: -100px;
  color: white;
}

div.percentages-left {
  width: 100px;
  height: 100px;
  background-color: $blue_color;
  text-align: center;
  border-radius: 50%;
  position: relative;
  top: -100px;
  left: 150px;
  color: white;
}

div.percentages h1,
div.percentages-left h1 {
  padding-top: 28px;
}

div.container.stream {
  height: 335px;
}

span.link {
  font-size: 18px;
}

div.share-links {
  display: block;
  margin-bottom: 30px;
}

div.share-links a.btn {
  margin-right: 10px;
  margin-left: 10px;
}

li.go-right {
  padding-top: 14px;
  color: white;
}

a.home-logo {
  font-family: $logo-font;
  font-size: 24px;
}

.nav a {
  font-family: $body-font;
}

/*====================================
      Streams Index
====================================*/

div.cover-photo {
  width: 800px;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-position: center;
  border-radius: 15px;
}

div.stream-index-info {
  padding-top: 40px;
  padding-left: 30px;
}

div.stream-index-info h1 {
  font-size: 60px;
}

div.stream-index-info a {
  color: white;
}

div.stream-edit-options {
  margin-right: 80px;
  float: right;
  vertical-align: bottom;
}


/*====================================*/

p {
  font-family: $body_font;
}

h1, h2, h3, h4, h5 {
  font-family: $heading_font;
}

.navbar-inverse {
  background-color: $nav_color;
  // border-color: #E7E7E7;
}

footer {
  background-color: $nav_color;
}

footer p {
  padding-top: 25px;
  padding-bottom: 25px;
}

.container-home {
  width: 100%;
}

.row {
  background-color: $pink_color;
  margin: 0px;
}

.starter-template.home.bottom {
  background-color: $blue_color;
  color: white;
}

.starter-template.home.bottom i {
  font-size: 50px;
}

.starter-template.home.bottom a {
  color: white;
}

.starter-template.home.top {
  background-color: $white_color;
}

.col-lg-4 p, h2 {
  color: white;
}

@font-face {
    font-family: 'nexa_boldregular';
    src: url('/assets/Nexa_Free_Bold-webfont.eot');
    src: url('/assets/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('/assets/Nexa_Free_Bold-webfont.woff') format('woff'),
        url('/assets/Nexa_Free_Bold-webfont.ttf') format('truetype'),
        url('/assets/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

input.btn.btn-success.chrome {
  margin-left: 15px;
}

i.hp-icons {
  font-size: 120px;
  margin-top: 40px;
  color: white;
}

div.home {
  padding-top: 30px;
  padding-bottom: 30px;
}

footer a {
  color: white;
}

div.row.form {
  background-color: $yellow_color;
}

form {
  color: black;
}

// .form {
//   color: black;
// }

div.row.form input {
  margin-top: 10px;
  margin-bottom: 10px;
}

li.post-links {
  padding-bottom: 10px;
}

li.tags {

}

// div.hp {
//   padding-top: 50px;
//   padding-bottom: 50px;
// }

/*=====================================
      Misc.
=======================================*/

.starter-template .h1 {
  font-family: "Roboto Slab";
}

div.col-md-5.nice-stuff {
  height: 400px;
  background-color: grey;
}

div.col-md-5.cloud-thingy {
  height: 400px;
  background-color: yellow;
}

.public {
  margin-top: 30px;
  margin-bottom: 30px;
}