@font-face {
    font-family: 'nexa_boldregular';
    src: url('/assets/Nexa_Free_Bold-webfont.eot');
    src: url('/assets/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('/assets/Nexa_Free_Bold-webfont.woff') format('woff'),
        url('/assets/Nexa_Free_Bold-webfont.ttf') format('truetype'),
        url('/assets/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body.chrome-extension .navbar {
  display: none;
}

input.btn.btn-success.chrome {
  margin-left: 15px;
}




/*=====================================
      Misc.
=======================================*/


.starter-template .h1 {
  font-family: "Roboto Slab";
}

div.col-md-5.nice-stuff {
  height: 400px;
  background-color: grey;
}

div.col-md-5.cloud-thingy {
  height: 400px;
  background-color: yellow;
}

.public {
  margin-top: 30px;
  margin-bottom: 30px;
}

