/*font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/

.starter-template .h1 {
  font-family: "Roboto Slab";
}

div.col-md-5.nice-stuff {
  height: 400px;
  background-color: grey;
}

div.col-md-5.cloud-thingy {
  height: 400px;
  background-color: yellow;
}

.public {
  margin-top: 30px;
  margin-bottom: 30px;
}